<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newfly.mapper.PlayerMapper">

    <!-- 查询用户基本信息-->
    <select id="queryPlayer" parameterType="int" resultType="player">
        select id,
               name,
               user_id,
               profession,
               grade,
               exp,
               money,
               scene,
               x,
               y,
               DATE_FORMAT(create_time, '%Y-%m-%d %H:%i:%s') as createTime
        from player
        where id = #{id}
    </select>

    <!-- 查询任务-->
    <select id="queryTask" parameterType="int" resultType="task">
        select id, task, sub_task
        from player
        where id = #{id}
    </select>

    <!-- 查询玩家战斗信息-->
    <select id="queryCombat" parameterType="int" resultType="combat">
        select id, hp, attack, defense
        from player
        where id = #{id}
    </select>


    <!-- 更新玩家数据-->
    <update id="updatePlayer" parameterType="player">
        UPDATE player
        <trim prefix="SET" suffixOverrides=",">
            <if test="name!=null and name!=''">name = #{name},</if>
            <if test="profession!=null and profession!=''">profession = #{profession},</if>
            <if test="grade!=null and grade!=''">grade = #{grade},</if>
            <if test="exp!=null and exp!=''">exp = #{exp},</if>
            <if test="money!=null and money!=''">money = #{money},</if>
            <if test="scene!=null and scene!=''">scene = #{scene},</if>
            <if test="x!=null and x!=''">x = #{x},</if>
            <if test="y!=null and y!=''">y = #{y},</if>
        </trim>
        where id = #{id}
    </update>

    <!-- 更新主线任务进度-->
    <update id="updateMainTask" parameterType="task">
        UPDATE player
        <trim prefix="SET" suffixOverrides=",">
            <if test="task!=null and task!=''">task = #{task},</if>
            <if test="subTask!=null">sub_task = #{subTask},</if>
        </trim>
        WHERE id =#{id}
    </update>

    <!-- 更新玩家战斗信息-->
    <update id="updateCombat" parameterType="combat">
        UPDATE player
        <trim prefix="SET" suffixOverrides=",">
            <if test="hp!=null">hp = #{hp},</if>
            <if test="sp!=null">sp = #{sp},</if>
            <if test="attack!=null">attack = #{attack},</if>
            <if test="defense!=null">defense = #{defense},</if>
        </trim>
        where id = #{id}
    </update>
</mapper>